{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="kawaii-article">
    <header class="kawaii-article-header">
        <h1 class="kawaii-article-title">{{ .Title }}</h1>
        {{ if .Params.description }}
            <p class="kawaii-article-description">{{ .Params.description }}</p>
        {{ end }}
        <div class="kawaii-article-meta">
            {{ if .Params.institution }}
                <div class="kawaii-card-date">
                    {{ .Params.institution }}
                </div>
            {{ end }}
            {{ if .Params.project_date }}
                <div class="kawaii-card-date">
                    {{ .Params.project_date }}
                </div>
            {{ end }}
        </div>
    </header>
    
    <div class="kawaii-content">
        {{ .Content }}
    </div>
    
</article>
{{ end }}