{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="kawaii-article">
    <header class="kawaii-article-header">
        <h1 class="kawaii-article-title">{{ .Title }}</h1>
        {{ if .Params.description }}
            <p class="kawaii-article-description">{{ .Params.description }}</p>
        {{ end }}
        <div class="kawaii-article-meta">
            {{ if .Params.institution }}
                <div class="kawaii-card-date">
                    {{ .Params.institution }}
                </div>
            {{ end }}
            {{ if .Params.project_end }}
                <div class="kawaii-card-date">
                    {{ .Params.Date.Year }}-{{ .Params.project_end }}
                </div>
            {{ else if .Params.Date }}
                <time class="kawaii-card-date" datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format "Jan 2, 2006" }}
                </time>
            {{ end }}
            {{ if .Params.tags }}
            <div class="kawaii-tags">
                {{ range .Params.tags }}
                <span class="kawaii-tag">#{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </header>
    
    <div class="kawaii-content">
        {{ .Content }}
    </div>
    
</article>
{{ end }}